# Configuration file

module {
    B:"Construction Enabled"=true
    B:"Construction enabled"=true
    B:"Decoration Enabled"=true
    B:"Decoration enabled"=true
    B:"Destruction Enabled"=true
    B:"Destruction enabled"=true
    B:"Enchantments Enabled"=true
    B:"Enchantments enabled"=true
    B:"Ender Enabled"=true
    B:"Ender enabled"=true
    B:"Miscellaneous Enabled"=true
    B:"Miscellaneous enabled"=true
    B:"Redstone Enabled"=true
    B:"Redstone enabled"=true
}


